.divmain {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form_radio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    background-color: pink;
    border: 1px solid darkmagenta;
    padding: 10px 0px;
}
.label_container {
    display: block;
    align-self: center;
    width: 90%;
    height: 44px;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
 }
 .label_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
 }
 /* Create a custom radio box */
 .toggle_radio {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 13px 0px;
    background-color: transparent;
    border-radius: 8px;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    color: black;
 }
 .label_container input:checked ~ .toggle_radio {
    background-color: darkmagenta;
    color: white;
 }