ul {
    display: inline-block;
    margin: 10px auto;
}

ul li:nth-child(odd) {
    background-color: ivory;
    padding: 5px 10px;
}

ul li:nth-child(even) {
    background-color: thistle;
    padding: 5px 10px;
}