body {
   font-size: 20px;
}

.main-container {
   display: flex;
   flex-direction: column;
   text-align: center;
}

.tense-radio {
   display: inline-flex;
   grid-area: tense;
   flex-direction: row;
   justify-content: center;
   
   background-color: rgba(0, 255, 255, 0.8);
   border: solid 1px aqua;
   margin: 25px;
   padding: 15px;
}

.sentence-container {
   display: flex;
   grid-area: main;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   width: 100%;
}

.form-radio-container {
   display: block;
   grid-area: form;
}

.form-radio {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-self: flex-end;
   margin-right: 25px;
   padding: 14px;

   background-color: rgba(139, 0, 139, 0.8);
   border: solid 1px darkmagenta;
   text-align: left;
}

.form-radio > div {
   margin: 10px;
}


.inner-container {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}