.word {
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin: 10px;
    padding: 10px;
}

.noun {
    background-color: rgba(200, 0, 0, 0.5);
    border: solid 1px red;
}

.verb {
    background-color: rgba(0, 0, 255, 0.5);
    border: solid 1px blue;
}

.auxiliary-words {
    background-color: rgba(255, 127, 0, 0.5);
    border: solid 1px orange;
}

.adverb {
    background-color: rgba(0, 200, 0, 0.5);
    border: solid 1px green;
}

.adjective {
    background-color: rgba(128, 128, 0, 0.5);
    border:  solid 1px olive;
}

.sentence {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: center;
    background-color: rgba(200, 200, 200, 0.5);
    border: solid 1px gray;
    height: fit-content;
}

