html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

@keyframes anim_appear {
  0% {
    height: 0%;
    width: 0%;
  }
  50% {
    height: 50%;
    width: 50%;
  }
  100% {
    height: 100%;
    width: 100%;
  }
}
@keyframes anim_disappear {
  0% {
    height: 100%;
    width: 100%;
  }
  50% {
    height: 50%;
    width: 50%;
  }
  100% {
    height: 0%;
    width: 0%;
  }
}
