body {
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
}

/*Main menu styles*/
.main-menu {
    list-style-type: none;
    padding: 0px 35px;
    margin: 0px;
    overflow: hidden;
    background-color: #333333;
    font-weight: 600;
    font-size: 24px;
}
.main-menu li {
    float: left;
    margin-right: 32px;
}
.main-menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
.main-menu li a:hover {
    background-color: #111111;
}

.developer {
    margin: 50px;
    font-size: 36px;
}

.table-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 45px;
    font-size: 20px;
}

.table-container table {
    border: solid 2px black;
    width: 75%;
}

.table-container thead th {
    border: 2px solid black;
    background-color: lightgray;
}
.table-container tbody td {
    border: 1px solid gray;
    align-self: center;
}
.table-cell-winner {
    background-color: lightcoral;
}
.table-cell-left {
    text-align: end;
    width: 45%;
}
.table-cell-right {
    text-align: start;
    width: 45%;
}