body {
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
}

/*Main menu styles*/
.main-menu {
    list-style-type: none;
    padding: 0px 35px;
    margin: 0px;
    overflow: hidden;
    background-color: #333333;
    font-weight: 600;
    font-size: 24px;
}
.main-menu li {
    float: left;
    margin-right: 32px;
}
.main-menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
.main-menu li a:hover {
    background-color: #111111;
}