body {
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
}
#game-field {
    background-color: green;
    height: 400px;
    width: 800px;
    margin: 10px auto;
    position: relative;
    border: 6px solid darkgreen;
}
#rocket-comp {
    background-color: aqua;
    height: 65px;
    width: 7px;
    border: 1px solid black;
    margin-left: 5px;
    position: absolute;
    top: 0%;
    left: 0%;
    box-sizing: border-box;
}
#rocket-my {
    background-color: coral;
    height: 65px;
    width: 7px;
    border: 1px solid black;
    margin-right: 5px;
    position: absolute;
    right: 0%;
    top: 0%;
    box-sizing: border-box;
}
#field-line {
    background-color: bisque;
    height: 100%;
    width: 7px;
    border: 1px solid darkgreen;
    box-sizing: border-box;
    position: absolute;
    top: 0%;
    left: 49%;
}
#ball {
    background-color: chartreuse;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 1px solid red;
    position: absolute;
    display: none;
}
#table-goals {
    margin: auto 100px 100px;
    color: blue;
    display: flex;
    flex-direction: row;
    font-weight: 600;
    font-size: 30px;
}
#comp-goals, #my-goals {
    height: 50px;
    width: 50px;
    line-height: 50px;
    border: 1px solid blue;
    text-align: center;
}
.goal-background {
    background-color:darksalmon;
    transition-duration: 2s;
    transition-property: all;
    transition-timing-function: linear;
}
.btn-start {
    margin: 5px auto;
    background-color: chartreuse;
    font-size: 24px;
}
.btn-stop {
    margin: 5px auto;
    background-color: yellow;
    font-size: 24px;
}
#table-goals > div:first-child, #table-goals > div:last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

#comp-name, #my-name {
    margin: 10px;
}

.label-winner {
    color: red;
    text-shadow: 5px 5px 5px pink;
}

/*Main menu styles*/
.main-menu {
    list-style-type: none;
    padding: 0px 35px;
    margin: 0px;
    overflow: hidden;
    background-color: #333333;
    font-weight: 600;
    font-size: 24px;
}
.main-menu li {
    float: left;
    margin-right: 32px;
}
.main-menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
.main-menu li a:hover {
    background-color: #111111;
}