.word {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    width: fit-content;
    color: white;
    font-size: 22px;
    font-weight: 500;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    overflow: hidden;
    white-space: nowrap;
    transition: width 1s linear;
}
.noword {
    width: 0px;
    margin: 0px;
}
.animHide {
    animation: bounce-out 1.5s linear;
}
.animAppear {
    animation: bounce-in 1.5s linear;
}
.animShake {
    animation: shake 1.5s linear;
}
@keyframes bounce-in {
    0%    {opacity: 0;   max-width: 0px;}
    100%  {opacity: 1;   max-width: 180px;}
}
@keyframes bounce-out {
    0%    {opacity: 1;   max-width: 180px;}
    100%  {opacity: 0;   max-width: 0px;}
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
