.divmain {
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: center;
}
.tense_radio {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   /* height: 44px; */
   background-color: rgba(0, 255, 255, 0.8);
   border: solid 1px darkcyan;
   padding: 5px;
   margin: 5px;
}

.label_container {
   display: block;
   position: relative;
   width: 90%;
   height: 44px;
   cursor: pointer;
   font-size: 22px;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.label_container input {
   position: absolute;
   opacity: 0;
   cursor: pointer;
   height: 0;
   width: 0;
}
/* Create a custom radio box */
.toggle_radio {
   display: block;
   position: absolute;
   top: 0px;
   left: 0px;
   width: 100%;
   padding: 13px 0px;
   background-color: transparent;
   border-radius: 8px;
   text-align: center;
   font-weight: 600;
   font-size: 16px;
   color: black;
}
.label_container input:checked ~ .toggle_radio {
   background-color: darkcyan;
   color: white;
}