.sentence_container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.sentence {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    background-color: rgba(200, 200, 200, 0.5);
    border: solid 1px gray;
    height: fit-content;
    width: fit-content;
    padding: 30px;
    transition: all 1s linear;
}