body {
    font-size: 20px;
    display: flex;
    flex-direction: column;
}
div {
    text-align: center;
    align-self: center;
}
table {
    align-self: center;
}
table, td {
    border: solid 1px black;
}
