body {
    text-align: center;
}

main {
    display: inline-block;
    text-align: center;
    border: 1px solid midnightblue;
    padding: 30px;
    background-color: lightgray;
}

input, button {
    margin: 5px;
}

.label {
    margin: 5px;
    font-size: large;
}

.green {
    background-color: darkseagreen;
}

.red {
    background-color: pink;
}

.error {
    color: red;
    font-size: small;
}