main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: cornsilk;
}
.divcontainer {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.divcontainer > *:nth-child(1), .divcontainer > *:nth-child(3) {
    width:25%
}