div#div-big-button {
    display: flex;
    justify-content: center;
}

div#div-big-button > button {
    background-color: aquamarine;
}

div#div-main-playfield {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /*visibility: hidden;*/
}

div#div-letters {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

div#div-letterfield {
    display: flex;
    flex-direction: column;
    justify-items: center;
    visibility: hidden;
}

div#div-letterfield > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.one-letter {
    font-size: xx-large;
    padding: 15px;
    width: 40px;
    text-align: center;
    margin: 15px;
}

div#div-result {
    color: chocolate;
}

