body {
    display: flex;
    justify-content: center;
}

div {
    width: 800px;
    height: 800px;
    background-color: floralwhite;
    background-image: url('https://nnst1.gismeteo.ru/images/2020/07/shutterstock_1450308851-640x360.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: 1px solid lightgray;
    margin: 25px;
    animation: filter-animation 3s linear 1.5s infinite;
}

/*.filter-animation {
    animation: filter-animation 3s forwards;
    -webkit-animation: filter-animation 3s forwards;
}*/
  
@keyframes filter-animation {
    0%, 40%{
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
    
    60%, 100% {
        opacity: 1;
    }
}
