body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-between;
    font-size: 20px;
    height: 400px;
}

body > div {
    display: flex;
    justify-content: space-around;
}

body > div > div {
    border: solid 1px midnightblue;
    padding: 10px;
}

#origin-array {
    background-color: azure;
}

#proccessed-array {
    background-color: thistle;
}

#pow-array {
    background-color: floralwhite;
}

#age {
    background-color: aquamarine;
}