body {
    text-align: center;
    margin: 35px;
}

div#main {
    display: inline-block;
    padding: 15px;
    border: solid 1px black;
}

div#main > div {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

div#div-img1, div#div-img2 {
    background-image: url('../image/hide-show.jpg');
    background-position-x: 0px;
    background-position-y: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 28px;
    width: 40px;
    margin-left: 15px;
    border-radius: 5px;
}

/*div#div-img2 {
    background-image: url('../image/hide-show.jpg');
    background-position-x: 0px;
    background-position-y: -28px;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 28px;
    width: 40px;
    margin-left: 15px;
    border-radius: 5px;
}*/

div#main input {
    width: 255px;
}

div#div-img1:hover, div#div-img2:hover {
    box-shadow: 0px 0px 8px green;
}

#btn-check-pass {
    margin-top: 15px;
}

.error-msg {
    color: red;
    font-size: 16px;
    margin-top: 15px;
}