body {
    margin: 0;
    padding: 0;
}
.main-checkout {
    width: 1200px;
    margin: 0 auto;
    background-image: url('../images/bg-checkout.png');
}
.section-checkout1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    margin: 30px auto;
}
.section-checkout1 > div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 55%;
    padding: 80px 0;
}
.section-checkout-big-cakes {
    background-image: url('../images/image-big-cakes.png');
    background-repeat: no-repeat;
    overflow: visible;
    width: 45%;
    height: 650px;
    margin: -85px 0 10px;
}
.section-checkout2 {
    display: flex;
    flex-direction: column;
    margin-bottom: 150px;
    height: 1200px;
}
.div-checkout-cakes {
    margin: 80px 150px 40px;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    border-bottom: 2px solid var(--purple-color);
}
.text-cake {
    font-family: 'Wendy One';
    font-weight: 400;
    font-size: 32px;
    color: var(--purple-color);
}
.text-total {
    text-align: right;
    margin: 0 180px 50px;
}
.div-row-cake {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 35px 40px;
}
.div-row-cake > img {
    width: 60px;
    height: 60px;
    margin-right: 15px;
}
.div-row-cake div:nth-child(2) {
    width: 50%;
}
.div-row-cake div:nth-child(4) {
    width: 15%;
    text-align: right;
}
.div-row-cake input {
    width: 15%;
}
.section-checkout2 > button {
    align-self: flex-end;
    margin-right: 180px;
}
@media only screen and (max-width: 768px) {
    .main-checkout {
        width: 375px;
        background-image: url('../images/bg_checkout_mobile.png');
    }  
    .section-checkout1 {
        flex-direction: column;
    }  
    .section-checkout1 > div:first-child {
        width: 100%;
    }
    .section-checkout-big-cakes {
        background-image: url('../images/image-side-cake.png');
        height: 250px;
        align-self: flex-end;
        margin: 0 -18px 10px auto;
    }
    .section-checkout2 {
        margin-bottom: 100px;
        height: 950px;
    }
    .div-checkout-cakes {
        margin: 10px;
    }
    .div-row-cake {
        margin: 15px 10px;
        flex-wrap: wrap;
    }
    .text-cake {
        font-size: 26px;
    }
    .div-row-cake div:nth-child(2) {
        width: 70%;
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 2px solid var(--purple-color);
    }
    .div-row-cake input {
        width: 20%;
        text-align: right;
        margin-left: 95px;
    }
    .div-row-cake div:nth-child(4) {
        width: 25%;
        text-align: right;
    }
    .text-total {
        text-align: right;
        margin: 10px 25px;
    }
    .section-checkout2 > button {
        align-self: flex-end;
        margin: 20px auto;
        width: 90%;
    }
}