body {
    margin: 0;
    padding: 0;
    --purple-color: #642c99;
    --yellow-color: #FBFACA;
}

.text-yellow-small {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: var(--yellow-color);
    text-align: center;
}

.div-top-block {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: var(--purple-color);
    padding: 15px 5px;
}
.div-top-msg {
    align-self: center;
}
.img-top-cross {
    align-self: flex-end;
}
.main-block {
    width: 1200px;
    margin: 0 auto;
    background-image: url('../images/bg_1.png');
}

.text-purple-big {
    font-family: 'Wendy One', sans-serif;
    font-size: 120px;
    font-style: normal;
    font-weight: 400;
    color: var(--purple-color);
}

.text-purple-middle {
    font-family: 'Wendy One', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    color: var(--purple-color);
}

.text-purple-small {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;

    color: var(--purple-color);
}

.btn-purple {
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    width: 206px;
    border-radius: 5px;
    border: 1px solid var(--purple-color);
    margin: 10px;

    color: var(--yellow-color);
    background-color: var(--purple-color);
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    padding: 10px;
}

.section-title1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.section-title1 > div:first-child {
    display: flex;
    flex-direction: column;
    margin: 70px;
    padding: 15px;
}
.section-title1 > div:first-child > div {
    margin: 15px;
}
.div-title1-img {
    width: 500px;
    height: 700px;
    background-image: url('../images/image_main_3cakes.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin: 20px;
}

.section-title2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    margin: 100px 10px;
}
.section-title2 img {
    width: 400px;
    height: auto;
    margin: 0px 80px;
    position: relative;
    z-index: 1;
    display: inline-block;
}
.section-title2 img:first-child {
    margin-bottom: -30px;
    overflow: visible;
    position: relative;
    z-index: 10;
}
.section-title2 > div:last-child {
    margin: 160px 90px auto 90px;

}
.section-title2 > div:last-child > div {
    margin: 20px;
}
.section-title2 > div:first-child {
    text-align: center;
}

.section-cakes {
    display: flex;
    flex-direction: column;
    margin: 400px 50px;
}
.div-cakes-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.div-cake-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 330px;
    height: auto;
    padding: 10px;
    margin: 70px 15px;
}
.div-cake-card > div:first-child {
    display: flex;
    align-items: center;
}
.text-cake-name {
    font-family: 'Wendy One';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    text-align: center;
    color: var(--purple-color);
    margin: 10px;
}
.text-cake-desc {
    text-align: center;
}
.text-cakes-title {
    width: 50%;
    margin-bottom: 100px;
}
.input-number {
    width: 100px;
    height: 35px;
    border: 1px solid var(--purple-color);
    color: var(--purple-color);
    text-align: center;
    border-radius: 15px;
    align-self: center;
    margin-right: 25px;
    font-weight: bold;
}
.div-card-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.btn-add {
    width: 160px;
}
.img-down-cake {
    width: 480px;
    margin: 180px 25px;
}

footer {
    display: grid;
    grid-template-areas: 'part1 part2 part3 part3 part3'
        'part1 part2 part3 part3 part3'
        'part5 part4 part4 part4 part4';
}
.footer-part1 {
    grid-area: part1;
    color: var(--yellow-color);
    margin: 60px;
    text-align: left;
}
.footer-part2 {
    grid-area: part2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 200px;
}
.footer-part3 {
    grid-area: part3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 200px;
}
.footer-part4 {
    grid-area: part4;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 150px;
}
.footer-part5 {
    grid-area: part5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-part2 > a {
    color: var(--yellow-color);
    text-decoration: none;
}
.footer-btn-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.footer-btn-container > button {
    margin-left: 40px;
    width: 100px;
    height: 46px;
    background-color: var(--yellow-color);
    color: var(--purple-color);
}
.footer-btn-container > input {
    width: 250px;
    height: 46px;
    background-color: var(--purple-color);
    color: var(--yellow-color);
    border: 1px solid var(--yellow-color);
    border-radius: 10px;
    align-self: center;
    padding-left: 20px;
}
.footer-btn-container > ::placeholder {
    color: var(--yellow-color);
    font-family: 'Lato';
    font-weight: 700;
    font-size: 16px;
}

.div-burger-menu {
    display: none;
}
.main-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: auto 5px;
}
.list-menu {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.main-menu li {
    margin: auto 10px;
}
.main-menu li > a {
    text-decoration: none;
}
.div-trolley {
    position: relative;
    padding: 5px 10px;
}
.div-trolley > img {
    cursor: pointer;
}
.selected-menu {
    font-weight: bold;
}

@media only screen and (max-width: 768px) {
    .main-block {
        width: 375px;
        background-image: url('../images/bg_main_mobile.png');
    }
    .text-purple-big {
        font-size: 60px;
    }
    .section-title1 {
        flex-direction: column;
    }
    .div-title1-img {
        width: 266px;
        height: 356px;
    }
    .section-title1 > div:last-child {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    .section-title1 > div:first-child {
        margin: 20px 10px;
    }
    .section-title2 {
        flex-direction: column-reverse;
        margin: 50px 0px;
        padding: 15px;
    }
    .section-title2 img {
        width: 300px;
        height: auto;
        margin: -10px auto;
    }
    .section-title2 img:first-child {
        margin-bottom: -15px;
    }
    .section-title2 > div:first-child {
        margin: 30px auto;
    }
    .section-title2 > div:last-child {
        margin: 40px 0px auto;
    }
    .section-title2 > div:last-child > div {
        margin: 10px;
    }
    
    .text-purple-middle {
        font-size: 52px;
    }
    .text-cakes-title {
        width: 80%;
    }
    .section-cakes {
        margin: 100px 10px;
    }

    .div-cakes-container {
        grid-template-columns: 1fr;
    }
    .div-cake-card {
        width: 270px;
        margin: 35px auto;
    }
    .img-down-cake {
        width: 250px;
        margin: 100px auto;
    }
    footer {
        display: grid;
        grid-template-areas: 'part1'
            'part3'
            'part2'
            'part4'
            'part5';
    }
    .footer-part1 {
        font-family: 'Wendy One';
        font-size: 32px;
        margin: 15px 10px;
    }
    .footer-btn-container {
        flex-direction: column;
        width: 360px;
    }
    .footer-part3 {
        margin: 10px;
    }
    .footer-btn-container > button {
        width: auto;
        margin: 5px 10px;
    }
    .footer-btn-container > input {
        width: 330px;
        margin: 5px 10px;
    }
    .footer-part2 {
        height: 120px;
        margin-left: 10px;
    }
    .footer-part4 {
        height: 120px;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 10px;
    }
    .footer-part5 {
        margin: 10px 10px 45px 10px;
        display: inline-block;
        text-align: left;
    }
    .list-menu {
        display: none;
        position: absolute;
        flex-direction: column;
        background-color: var(--yellow-color);
        overflow: visible;
        top: 30px;
        padding: 5px;
        margin: 5px;
    }
    .list-menu > li {
        margin: 5px;
    }
    .div-burger-menu {
        display: inline-block;
        padding: 10px;
        cursor: pointer;
    }
    /*Used for burger menu for show and hide main menu*/
    .div-main-menu-visible {
        display: flex;
    }
}

@keyframes slideUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(2000px);
        -ms-transform: translateY(2000px);
        transform: translateY(2000px);
    }
  
    100% {
        -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
        transform: translateY(0px);
    }
}
  
.slideUp {
    -webkit-animation-name: slideUp;
    animation-name: slideUp;
}
  
