@media only screen and (min-width:768px) and (max-width:1200px)  {
    .main-block {
        width: 768px;
        background-image: url('../images/bg_middle.png');
    }
    .text-purple-big { 
        font-size: 100px;
    }
    .div-title1-img {
        width: 260px;
        height: 600px;
        background-image: url('../images/image_main_2cakes.png');
        margin-right: 25px;
    }
    .section-title1 > div:first-child {
        margin: 25px 15px;
    }

    .section-title2 img {
        width: 230px;
        height: auto;
        margin: -10px 30px;
    }
    .section-title2 img:first-child {
        margin-bottom: -10px;
    }
    .section-title2 > div:last-child {
        margin: 40px 10px auto 10px;
    }
    .section-title2 > div:last-child > div {
        margin: 10px;
    }
    .text-purple-middle {
        font-size: 70px;
    }
    .text-cakes-title {
        width: 70%;
    }
    .div-cakes-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .div-cake-card {
        margin: 60px 10px;
    }
    .section-cakes {
        margin: 350px 20px;
    }
    .img-down-cake {
        width: 300px;
        margin-top: 350px;
    }
    .div-down-title {
        width: 500px;
    }
    .div-down-desc {
        width: 500px;
    }
    .div-down-container {
        width: 350px;
    }
    footer {
        display: grid;
        grid-template-areas: 'part1 part3 part3 part3'
            'part1 part3 part3 part3'
            'part2 part4 part4 part4'
            'part2 part4 part4 part4'
            'part5 part5 part5 part5';
    }
    .footer-part1 {
        font-size: 32px;
        margin-top: 5px;
        width: 150px;
    }
    .footer-part3 {
        height: 150px;
    }
    .footer-part4 {
        flex-direction: column;
        align-items: flex-start;
    }
    .footer-part2 {
        width: 150px;
        margin: 5px 50px;
        height: auto;
    }
    .footer-part5 {
        text-align: start;
        margin: 50px;
    }
}