.div-trolley-container {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--yellow-color);
    margin: 5px;
    padding: 10px;
    position: absolute;
    overflow: visible;
    top: 30px;
    right: 10px;
    width: 400px;
}
.div-trolley-title, .trolley-total-pay {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
}
.div-trolley-title > img {
    width: 15px;
    height: 15px;
    margin: 5px;
    cursor: pointer;
}
.div-trolley-cards-container {
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--purple-color);
    border-bottom: 1px solid var(--purple-color);
    padding: 10px auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
}
.div-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.div-trolley-empty {
    display: inline-block;
    text-align: center;
    margin: 15px;
}
/*Used for burger menu for show and hide main menu*/
.div-main-menu-visible {
    display: flex;
}

.text-trolley-title {
    font-family: 'Wendy One';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    color: var(--purple-color);
    margin: 10px auto;
}
.img-cake-icon {
    width: 20px;
    height: 20px;
    margin: 7px;
}
.div-cake-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 20px;
    color: var(--purple-color);
}
.div-cake-row div:nth-child(2) {
    width: 80%;
    text-align: left;
}
.div-trolley-count {
    display: block;
    position: absolute;
    top: 4px;
    right: 4px;
    border-radius: 15px;
    background-color: var(--yellow-color);
    padding: 5px;
    width: 16px;
    height: 16px;
    text-align: center;
    font-family: 'Lato';
    font-style: normal;
    font-size: 14px;
    color: var(--purple-color);
}
.div-empty-hide {
    display: none;
}
@media only screen and (max-width: 768px) {
    .div-trolley-container {
        width: 250px;
    }
    .text-trolley-title {
        font-size: 16px;
    }
    .div-cake-row {
        font-size: 14px;
    }
}