.main-why-block {
    background-image: url('../images/bg_why.png');
    width: 1200px;
    margin: 0 auto;
}

.section-why1 {
    display: grid;
    grid-template-areas: 'left center right'
        'left center right';
    margin-top: 100px;
}
.div-title-container {
    grid-area: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
}
.section-why1 img {
    margin: 35px 25px 0px 25px;
}
.section1-img1 {
    grid-area: left;
    align-self: flex-end;
}
.section1-img2 {
    grid-area: right;
    align-self: flex-end;
}
.div-title-container div {
    margin-bottom: 40px;
}
.div-title-container > div:nth-child(2) {
    margin: 0px 50px 10px;
}
.section-why2 {
    display: grid;
    grid-template-areas: 'desc1 cake desc3'
        'desc2 desc2 desc2';
    margin-top: 150px;
}
.div-cake-container {
    grid-area: cake;
    text-align: center;
    background-image: url('../images/bg-circle-yellow-big.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 25px;
}
.div-cake-container img {
    width: 250px;
    margin: 15px 70px 10px;
}
.div-cake-container > div:first-child > img {
    margin-bottom: -10px;
}
.div-cake-container > div:nth-child(2) > img {
    margin-top: 0;
    margin-bottom: 0;
}
.div-cake-container > div:last-child > img {
    margin-top: -10px;
    margin-bottom: 100px;
}
.div-desc1 {
    grid-area: desc1;
    align-self: flex-end;
    margin: 20px 20px 50px 60px;
}
.div-desc2 {
    grid-area: desc2;
    margin: 10px 550px 50px 300px;
}
.div-desc3 {
    grid-area: desc3;
    align-self: flex-end;
    margin: 30px;
}

.section-why3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 250px;
    margin-bottom: 380px;
}
.section-why3 > div:first-child {
    margin: 40px 130px 10px;
}
.section-why3 div:nth-child(2) {
    margin: 5px 280px 10px;
}
footer {
    margin-top: 50px;
}

@media only screen and (max-width: 768px) {
    .main-why-block {
        width: 375px;
        background-image: url('../images/bg_why_mobile.png');
    }
    .section-why1 {
        grid-template-areas: 'center center'
            'right left';
        margin-top: 35px;
    }
    .div-title-container {
        margin-bottom: 45px;
    }
    .section-why2 {
        display: grid;
        grid-template-areas: 'cake' 
            'desc1'
            'desc3'
            'desc2';
        margin-top: 80px;
    }
    .section-why2 > div {
        text-align: center;
    }
    .section-why3 {
        text-align: left;
        margin: 80px 10px 170px;
    }
    .section-why3 > div:first-child {
        margin: 10px 10px 10px;
    }
    .section-why3 div:nth-child(2) {
        margin: 5px;
    }
    .section-why3 button {
        align-self: flex-start;
        margin: 15px 10px;
    }
    .div-cake-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 20px;
        align-items: center;
        background-position-y: 15px;
    }
    .div-cake-container img {
        width: 200px;
    }
    .div-cake-container img:nth-child(2) {
        margin-left: 85px;
    }
    .div-desc1 {
        grid-area: desc1;
        align-self: center;
        margin: 10px;
    }
    .div-desc2 {
        grid-area: desc2;
        margin: 10px;
    }
    .div-desc3 {
        grid-area: desc3;
        align-self: center;
        margin: 10px;
    }
    .section1-img1 {
        width: 150px;
        margin: 5px;
    }
    .section1-img2 {
        width: 130px;
        margin: 5px;
    }
}
