.header-basket {
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.header-basket > img {
    object-fit: contain;
    width: fit-content;
}
.main-basket {
    padding: 10px;
    text-align: center;
}
.main-basket > div {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.visible {
    visibility: visible;
}
.unvisible {
    visibility: hidden;
}
.div-basket-label {
    width: 80%;
    text-align: center;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    color: var(--ligth-red);
}
.div-basket-product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--ligth-beige);
    border: 2px solid var(--ligth-red);
    border-radius: 10px;
    box-shadow: rgba(160, 73, 85, 0.4) 5px 5px 5px;
    padding: 10px;
    margin: 10px;
    width: 70%;
    align-self: center;
}
.div-basket-product > img {
    width: 60px;
    height: 60px;
    object-fit: contain;
}
.div-basket-product > input {
    height: 40px;
    width: 50px;
    align-self: center;
}
.div-product-name {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: black;
    align-self: center;
    width: 50%;
    text-align: left;
}
.div-basket-product img:last-child {
    width: 45px;
    height: 45px;
    align-self: flex-start;
}

@media only screen and (max-width: 768px) {
    .header-basket {
        flex-direction: column;
    }
    .div-basket-label {
        font-size: 36px;
        width: 100%;
    }
}

@media only screen and (min-width:768px) and (max-width:992px)  {
    .div-basket-label {
        font-size: 36px;
    }
}

@media only screen and (min-width:992px) {
    .div-basket-product {
        width: 600px;
    }
}