.div-product-details {
    display: flex;
    flex-direction: row;
    margin: 10px 0px;
}
.div-photo {
    width: 45%;
    text-align: center;
}
.div-photo > img {
    width: 80%;
    height: 90%;
    object-fit: contain;
}
.div-all-info {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.div-reviews {
    padding-left: 150px;
    background-image: url("../image/stars-all.png");
    background-position: left;
    background-repeat: no-repeat;
}
.div-middle-black-text2 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    color: black;
}
.div-price-text {
    font-family: Oswald;
    font-size: 36px;
    font-weight: 600;
    color: black;
}
.btn-small {
    width: fit-content;
}
.div-text-details-container {
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
}
.div-text-details-container > div:first-child {
    text-align: center;
    margin: 25px;
}
.div-text-details {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    color: #333333;
}

@media only screen and (max-width: 768px) {
    .div-middle-black-text2 {
        font-size: 24px;
    }
    .div-price-text {
        font-size: 18px;
    }
    .div-product-details {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .div-photo {
        width: 90%;
    }
    .div-all-info {
        width: 90%;
    }
}
@media only screen and (min-width:768px) and (max-width:992px)  {
    .div-middle-black-text2 {
        font-size: 36px;
    }
    .div-price-text {
        font-size: 24px;
    }
}