body {
    margin: 0px;
    padding: 0px;
    --ligth-beige: rgba(241, 241, 241, 1);
    --ligth-red: rgba(160, 73, 85, 1);
    --ligth-gray: rgba(196, 196, 196, 1);

}

.navbar-items {
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

.navbar-search-text {
    font-size: 15px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    width: 210px;
    height: 30px;
    border-radius: 25px;
    padding: 10px 10px 10px 15px;
    text-align: center;
    border: 1px solid var(--ligth-red);
    background-image: url('../image/search.png');
    background-position: 8px;
    background-repeat: no-repeat;
    background-size: 15px 15px;
}


.div-first {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 10px auto;
    font-family: 'Oswald', sans-serif;
}
.div-first-1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}
.div-first-2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}
.div-first-big-text {
    font-size: 65px;
    font-weight: 600;
    color: rgba(0, 31, 61, 1);
}
.div-first-middle-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
}
.btn-first {
    margin: 15px 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    background-color: white;
    border: 1px solid black;
    color: black;
    text-decoration: none;
}
.btn-first:hover {
    color: black;
    text-decoration: none;
}
.img-big-photo {
    width: 100%;
}


.div-second {
    background: var(--ligth-beige);
    text-align: center;
    padding: 30px;
}
.div-second-big-text {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
}
.div-second-middle-text {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
}
.div-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.div-card {
    width: 210px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin: 10px;
    height: 400px;
    cursor: pointer;
}
.div-card:hover {
    transform: scale(1.05);
    transition: all 0.4s linear;
}
.div-card  img:first-child {
    width: 165px;
    height: 165px;
    object-fit: contain;
}
.div-card-name {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #333333;
    height: 72px;
}
.btn-card {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    background: var(--ligth-red);
    border: none;
    text-align: center;
    padding-bottom: 8px;
    cursor: pointer;
}
.btn-card::before {
    content: "";
    width: 25px;
    height: 25px;
    background-image: url("../image/bag.png");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    margin-top: 8px;
}

.div-fourth {
    background: var(--ligth-beige);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 25px;
}
.div-fourth > div {
    width: 40%;
    margin: 15px;
    text-align: center;
}
.div-fourth img {
    width: 100%;
}
.div-fourth > div > div {
    margin: 30px 5px;
}
.div-image {
    position: relative;
}
.div-red-bottom {
    position: absolute;
    bottom: 0;
    color: white;
    text-align: center;
    background-color: rgba(160, 73, 85, 0.7);
    width: 100%;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    padding: 15px 5px;
}

.div-fifth {
    background-image: url('../image/big_main_photo3.png');
    background-size: cover;
    background-color: var(--ligth-beige);
    color: white;
}
.div-big-white-text {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    color: white;
    padding: 10px;
}
.div-middle-white-text {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    color:white;
    margin: 5px 10px;
}
.div-fifth > div {
    width: 50%;
}
.btn-red {
    background-color: var(--ligth-red);
    border: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
    margin: 20px 10px 35px;
    padding: 5px 12px;
}

.div-sixth {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: url('../image/red-rect.png');
    background-repeat: no-repeat;
    background-position: 0 0;
}
.div-trends-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}
.div-trend-card {
    background-color: white;
    border: solid 1px var(--ligth-red);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 5px;
}
.div-trend-card > img {
    height: 200px;
    margin: 10px;
}
.div-trend-card-text {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
}

.div-seventh {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(180deg, white 50%, var(--ligth-beige) 50%);
    margin: 10px 30px;
    text-align: center;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--ligth-red);
    flex-wrap: wrap;
}
.div-eigthth-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.div-small-white-text {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: white;
}
.div-small-white-text:hover {
    color: white;
    text-decoration: none;
}
.div-bold-text {
    font-weight: 600;
}
.footer-email-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 20px;
    font-size: 18px;
}
.footer-email-container > input {
    height: 45px;
    border: solid 5px white;
    padding-left: 15px;
}
.footer-email-container > input::placeholder {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    color: var(--ligth-red);
}
.footer-email-container > button {
    background-color: var(--ligth-red);
    color: white;
    border: white 5px solid;
    box-sizing: border-box;
    height: 45px;
    margin: 0px 0px 20px;
    text-align: center;
    padding: auto;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}
.after-footer {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    margin: 10px;
}



/*Catalog page*/
.div-search-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
}
.div-middle-black-text {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.div-home-text {
    width: 250px;
    align-self: flex-end;
    padding-left: 40px;
}
.div-home-text::before {
    content: "";
    background-image: url("../image/Home-ico.png");
    height: 30px;
    width: 30px;
    display: block;
    margin: 8px;
}
.input-big-gray-text {
    width: max-content;
    flex-grow: 1;
    padding-top: 50px;
    padding-left: 10px;
    margin-right: 15px;
    border: none;
    border-bottom: 1px solid var(--ligth-gray);
}
.input-big-gray-text::placeholder {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    color: var(--ligth-gray);
}
.input-big-gray-text {
    border: none;
    border-bottom: 1px solid var(--ligth-gray);
}
.main-catalog {
    background-color: var(--ligth-beige);
    display: flex;
    flex-direction: row;
}
.div-filter {
    background-color: white;
    border: 1px solid var(--ligth-red);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: fit-content;
    width: 25%;
    margin: 15px;
    padding: 15px;
}
.div-sizes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    border-bottom: 1px solid var(--ligth-red);
    margin-bottom: 10px;
}
.div-size {
    width: 30px;
    height: 30px;
    margin: 10px 5px;
    background-color: var(--ligth-gray);
    color: black;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-sizing: content-box;
    cursor: pointer;
}
.div-color {
    width: 20px;
    height: 20px;
    margin: 3px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-sizing: content-box;
    cursor: pointer;
}
.div-bg-red {
    background-color: red;
}
.div-bg-blue {
    background-color: blue;
}
.div-bg-green {
    background-color: green;
}
.div-bg-aqua {
    background-color: aqua;
}
.div-bg-white {
    background-color: white;
}
.div-bg-gray {
    background-color: gray;
}
.div-bg-black {
    background-color: black;
}
.div-bg-pink {
    background-color: pink;
}
.div-filter-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.btn-filter {
    flex-grow: 1;
    margin: 20px;
    cursor: pointer;
}
.div-catalog-carts {
    flex-grow: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.div-catalog-carts {
    width: 70%;
}
.div-card-colors {
    border: none;
    height: 55px;
}
.div-selected {
    border: solid 1px rgb(102, 51, 153);
    box-shadow: rgba(102, 51, 153, 0.6) 5px 5px 5px;
}
.div-pages {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    align-self: flex-end;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: var(--ligth-red);
    background-color: var(--ligth-beige);
    padding: 10px;
}
.div-page-number {
    border: solid 1px var(--ligth-red);
    background-color: var(--ligth-beige);
    margin: 2px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    text-align: center;
}
.div-page-selected {
    color: white;
    background-color: var(--ligth-red);
}
.img-basket {
    width: 60px;
    height: 60px;
    object-fit: contain;
}
.span-basket-count {
    background-color: red;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    color: white;
    position: absolute;
    right: 2px;
    top: 0px;
    font-size: 12px;
    text-align: center;
}
.div-basket {
    position: relative;
}
.visible {
    visibility: visible;
}
.unvisible {
    visibility: hidden;
}

.sticky-arrow {
    position: fixed;
    z-index: 99;
    background-color: var(--ligth-red);
    color: white;
    font-size: 20px;
    border-radius: 50%;
    bottom: 5%;
    right: 5%;
    width: 35px;
    height: 35px;
    text-align: center;
    box-shadow: rgba(196, 196, 196, 0.5) 3px 3px 3px 3px;

}
.sticky-arrow:hover {
    color: white;
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    .div-first-big-text, .div-second-big-text {
        font-size: 32px;
    }
    .div-first-middle-text, .div-second-middle-text, .div-card-name, .div-trend-card-text {
        font-size: 18px;
    }
    .btn-first, .btn-red {
        font-size: 16px;
    }
    .div-cards {
        flex-wrap: wrap;
    }
    .div-card-name {
        height: 48px;
    }
    .div-red-bottom {
        font-size: 18px;
        padding: 5px;
    }
    .div-big-white-text {
        font-size: 32px;
    }
    .div-middle-white-text {
        font-size: 16px;
    }
    .div-fifth > div {
        width: 80%;
    }
    .div-small-white-text {
        font-size: 12px;
    }
    .input-big-gray-text::placeholder {
        font-size: 32px;
    }
    .div-middle-black-text {
        font-size: 16px;
        width: 200px;
    }
    .div-size {
        font-size: 16px;
    }
}

@media only screen and (min-width:768px) and (max-width:992px)  {
    .div-first-big-text, .div-second-big-text {
        font-size: 48px;
    }
    .div-first-middle-text, .div-second-middle-text, .div-card-name, .div-trend-card-text {
        font-size: 20px;
    }
    .btn-first, .btn-red {
        font-size: 18px;
    }
    .div-cards {
        flex-wrap: wrap;
    }
    .div-card-name {
        height: 60px;
    }
    .div-red-bottom {
        font-size: 20px;
        padding: 8px;
    }
    .div-big-white-text {
        font-size: 44px;
    }
    .div-middle-white-text {
        font-size: 20px;
    }
    .div-fifth > div {
        width: 80%;
    }
    .div-small-white-text {
        font-size: 14px;
    }
    .input-big-gray-text::placeholder {
        font-size: 42px;
    }
    .div-middle-black-text {
        font-size: 18px;
        width: 200px;
    }
    .div-size {
        font-size: 18px
    }
}