.blue-background {
    background-color: blue;
}
.red-background {
    background-color: red;
}

.mouse-event-div {
    background-color: aquamarine;
    border: solid 1px cyan;
    height: 400px;
    margin: 20px;
}

#button-container {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

#button-container > button {
    margin: 5px;
    width: 70px;
}

#moving-div {
    width: 100px;
    height: 50px;
    background-color: aqua;
    border: solid 1px midnightblue;
    position: relative;
}

#color-input, #login-input, #text-input {
    margin: 15px;
}