body {
    font-size: x-large;
}

#main-div, #sort-main{
    display:flex;
    padding: 15px;
    flex-direction: row;
    justify-content: space-around;
}

#main-div > div, #sort-main > div {
    border: solid 1px midnightblue;
    background-color: cadetblue;
    padding: 10px;
}


