body > div, body > form {
    margin: 10px;
    padding: 10px;
}

#first-div {
    border: solid 1px black;
}

#second-div {
    border: solid 1px aqua;
}

.right-input {
    border: solid 3px green;
}

.wrong-input {
    border: solid 2px red;
}

#third-div {
    border: solid 1px darkcyan;
}
#third-div > div {
    margin: 15px 20px;
    display: block;
}

#forth-div {
    border: solid 1px darkred;
}

.price {
    width: 30%;
    margin: 8px 0;
    outline: none;
}
#price:focus {
    border: 2px solid green;
}
.error-text {
    color: red;
    margin: 10px;
}